body, html {
    height: 100%;
    font-family: Palatino,"Times New Roman",Times,serif !important;
    color: #404040;
}
header {
    background: #fff url(../img/tapebakgrunn.jpg) repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    text-align: center;
    display: table;
    border-bottom: 4px solid #000;
}

header .text-header {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 2.5em;
    line-height: 1.1em;
    text-transform: uppercase;
    text-align: center;
    margin: 1.9em 0;
}

h1 small {
    display: block;
    line-height: 1.4em;
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 2.3em;
    line-height: 1.3em;
    text-transform: uppercase;
}

header .text-header img {
    margin:auto;
}

header .text-header #typed-title {
    color:#fff;
    font-family: 'Roboto', sans-serif;
}

#head {
    font-family: 'Roboto', sans-serif;
}

#head h1, #head .lead {
    display: none;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    color:#666;
    font-size:1.3em;
 }
 .navbar-inverse {
    background-color: rgba(0,0,0,.85);
}
.nav>li>a {
    padding: 15px 6px;
}

.navbar-brand {
    padding-right:6px;
    font-size:inherit;
}

.navbar-divider {
   float: left;
   padding: 15px 0;
   font-size: 18px;
   line-height: 20px;
   height: 50px;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    background-color: #101010;
}

.vg-logo {
    width: 92px;
    height: auto;
    margin-top: -6px;
    margin-right:4px;
}

.filter {
    margin-top: 12px;
    line-height: 1;
}

.dl-liste dd, .dl-liste dt {
    padding: 0 2px;
}

.dl-liste dt {
    float:left;
    margin-right:6px;
}

#intro {
    margin-top: 5em;
    color: #000;
}

.btn-circle {
  color: #fff !important;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  background: rgba(225,225,225,0.5);
  line-height: 1.4;
  border: 0;
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 35px;
  line-height: 30px;
  margin-left: -30px;
  position:absolute;
  bottom:5%;
  left:50%;
}

.btn-circle:hover {
  background: rgba(225,225,225,0.7);
}

.btn-circle div {
  display: block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  padding:15px 18px 18px 18px;
}

.btn-circle div img {
  width: 100%;
  height:auto;
}

.animated {
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes arrow {
    0% {margin-top:-4px;}
    50% {margin-top:8px;}
    100% {margin-top:-4px;}
}

.timer {
    text-align:center;
    color: #d00;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 100;
    text-transform: uppercase;
}

.map-video {
    font-family: 'Roboto', sans-serif;
}

.map-video video {
    width:100%;
    height:auto;
}

.small-tape {
    height: 50px;
    background-image: url(../img/tynn_tape_left.png), url(../img/tynn_tape_right.png), url(../img/tynn_tape_middle.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left top, right top, center top;
}

.small-tape2 {
    height: 50px;
    background-image: url(../img/tynn_tape2_left.png), url(../img/tynn_tape2_right.png), url(../img/tynn-tape2_middle.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left top, right top, center top;
}

.small-tape3 {
    height: 50px;
    background-image: url(../img/tynn_tape2_right.png), url(../img/tynn-tape2_middle.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left top;
}

.small-tape4 {
    height: 50px;
    background-image: url(../img/tynn_tape2_right.png), url(../img/tynn_tape_middle.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left top;
}

.small-tape5 {
    height: 50px;
    background-image: url(../img/tynn_tape2_left.png), url(../img/tynn_tape_middle.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
}
.small-tape6 {
    height: 50px;
    background-image: url(../img/tynn_tape2_left.png), url(../img/tynn-tape2_middle.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
}

.tape-text {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 43px;
    font-weight: 700;
    text-align: center;
}

.red-text {
    color:#d00;
}

.credits {
    margin:2em 0;
    text-align: center;
}
.paragraph-group p {
    font-size: 1.4em;
    line-height: 1.52;
}

.paragraph-group p:first-child strong {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.paragraph-group {
    margin-bottom: 3.6em;
}

.section-blank {
    margin-bottom: 2em;
}

.no-padding-list {
    padding-left: 16px;
}

.factbox {
    font-family: 'Roboto', sans-serif;
    border-left: 3px solid #eee;
}

.factbox h3 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}
.factbox p {
    font-size: 14px;
}

.factbox .fact-image {
    width: 100%;
    height: auto;
}

.factbox ul {
    padding-left: 1.4em;
}

.unique {
    color:#d00;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.1em!important;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

#hjelp {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#fbfbfb;
    background: #333;
    overflow: auto;
}

#hjelp a:link, #hjelp a:visited {
    color:#aaa;
}

#hjelp h2 {
    text-align: center;
}
#hjelp h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
#hjelp ul {
    padding:0 16px;
}


/* Sharing */
#share {
    margin-top: 10px;
}

.share > div {
    padding:0px 4px 4px 4px;
    float: left;
    list-style:none;
}

.share > div img {
    opacity:.8;
    transform:scale(.8);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.share li img:hover {
    opacity:1;
    transform:scale(1);
}

a:link, a:visited {
    color: #dd0000;
}

blockquote {
    border-left: 3px solid #eee;
}
blockquote p {
    font-size: 1.8em;
    line-height: 1.1em;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

blockquote footer {
    color:#000;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 0.8em!important;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

/* Footer */
.foot a:link, .foot a:visited {
    text-decoration: none;
}

.foot ul {
    display:none;
}

.foot p.tips {
    display:none;
}

.foot h3 {
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    text-transform:uppercase;
    margin:20px 0 0 0;
    padding:20px;
}

.foot p {
    font-family: 'Roboto', sans-serif;
    font-size:1em;
}

#footer {
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    font-size:0.7em;
    margin-top:16px;
    padding-top:16px;
    text-align:center;
}

#footer ul li {
    display:inline-block;
}

#footer p {
    margin:2px;
    padding:0;
    display: inline-block;
}

.image-gallery {
    width: 100%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.image-gallery img {
    width: 100%;
    height: auto;
}

.image-gallery figure {
    position: relative;
}

.image-gallery figure a:after {
    content: '';
    width: 25px;
    height: 25px;
    line-height: 25px;
    background: #dd0000;
    position: absolute;
    right: 18px;
    top: 3px;
    background-color: #000;
    background-image: url('../img/expand.png');
    background-size: 100%;
    opacity: 0.5;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    border-radius: 3px;
}

.image-gallery figure.poster {
    width: 100%;
}

.image-gallery figure.small {
    margin-left: 3%;
    width: 30%;
    float: left;
}

#fildelingen-grafikk, #metode-grafikk {
    margin-bottom:2em;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

#metode-grafikk .bio-hidden {
    height:1000px!important;
}

#fildelingen img, #metoden img {
    border:0;
    width:100%;
}

#fildelingen, #metoden, #verdensliste {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    position: relative;
    height:auto;
}

#fildelingen h4, #metoden h4 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform:uppercase;
    font-size:16px;
    font-weight:700;
}

.col-custom-5 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    box-sizing: border-box;
    float:left;
    width:20%;
}

.bio-hidden {
    height:275px!important;
    cursor:pointer;
    overflow:hidden;
    position:relative;
}

.bio-hidden:after {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.more {
    margin:0;
    padding: 15px 40px;
    text-align:center;
    text-decoration:underline;
    text-transform:uppercase;
    color:#d00;
    font-weight:500;
    cursor:pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.more:hover {
    color:#000;
}

.video-container {
    margin-bottom: 2em;
}

.video-container .video {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    background-color: #000;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    section .video-container .video {
        height: 405px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    section .video-container .video {
        height: 528.75px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    section .video-container .video {
        height: 641px;
    }
}

.video-container .video iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.image-container figcaption, .image-gallery figcaption {
    margin-top: 4px;
    margin-bottom: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.image-container img {
    width: 100%;
    margin: 0 auto;
}

.image-container strong, .image-gallery strong {
    text-transform: uppercase;
}

.section-comment {
    margin-bottom: 2em;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    position: relative;
}

.section-comment .comment {
}

.section-comment h2 {
    margin-top:6px;
}

.section-comment .comment h5 {
    color: #d00;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.1em!important;
    line-height: 1em;
    text-transform: uppercase;
    margin-top:2em;
    margin-bottom: 0;
}

.section-comment img {
    margin-top:20px;
}

.section-comment .credit {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#hva-vet-vi, #slik-fant-vi {
}


#downloader-overview {
    margin-bottom: 2rem;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 20px;
    font-family:'Roboto', sans-serif;
    text-transform:uppercase;
}

.downloader-nav {
    text-align: center;
}

.downloader-nav img {
    width: 8%;
    transition: all .2s ease-in-out;
}

.downloader-nav img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.downloader-nav a,
.downloader-nav a:active,
.downloader-nav a:hover {
    text-decoration: none;
}


.modal-dialog .downloader-nav .active img {
    border-bottom: 3px solid black;
}

.modal-dialog img.photo {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
.modal-dialog blockquote {
    border-left: 0;
    padding: 0;
}

.modal-dialog h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
}

.modal-facts {
    font-family:'Roboto', sans-serif;
    font-weight: 300;
}
.modal-facts h3 {
    font-family:'Roboto Condensed', sans-serif;
    color:#d00;
    text-transform: uppercase;
    margin: 0;
    font-weight: 900;
    border-top: 3px solid #d00;
}
.modal-facts .nedlastinger {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    margin: 0;
    font-weight: 900;
}

.modal-facts ul {
    padding-left: 1.4em;
}
.ekstra-menn {
    min-height: 162px;
}

/* Media queries */

@media (max-width : 1200px) {
    .tape-text {
        font-size: 35px;
    }
}
@media (max-width : 992px) {
    .tape-text {
        font-size: 26px;
        line-height:2;
    }
}
@media (max-width : 768px) {
    .col-custom-5 {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        box-sizing: border-box;
        float:none;
        width:100%;
    }

    h2 {
        font-size: 1.6em;
        line-height: 1.1em;
    }
    .bio-hidden {
        height: 380px!important;
    }
    .tape-text {
        font-size: 26px;
    }
    .downloader-nav img {
        width: 16%;
        transition: all .2s ease-in-out;
    }
    header {
        background: #fff url(../img/tapebakgrunn_small.jpg) repeat;
    }
    .factbox {
        border-left: 0;
    }
    .ekstra-menn {
        min-height:0;
    }
}

#related-articles a.article {
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  font-size:12px;
}

#related-articles .image {
  background-size: cover;
  background-position: center center;
  width: 100%;
  position: relative;
  background-color: #404040;
}

#related-articles .imageInner {
  padding-top: 70%;
}

#related-articles p {
  padding: 5px 0;
  text-align: left;
  width: 100%;
  font-weight: bold;
  color: #2b2b2b;
}


/* iPhone6 portrait and landscape */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) { /* STYLES GO HERE */}


/* iPhone6 Plus */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) { /* STYLES GO HERE */}

/*iPhone5 & 5s in landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) { /* STYLES GO HERE */}

/*iphone2 - 4s */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) { /* STYLES GO HERE */}

/*ipad */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  { /* STYLES GO HERE */}

/* ipad 3&4*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */}

/* ipad mini */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */}

/* to differentiate between portrait/landscape:
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) { Style goes here }
*/
